* {
    box-sizing: border-box;
  }
html {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}
header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 0, 0);
}
article {
    margin-top: 6rem;
    text-align: center;
    float: left;
    margin-left: 3em;
    width: 45%;
    height: 500px; 
    background: #ccc;
    padding: 20px;
  }
aside {
    margin-top: 6rem;
    text-align: center;
    float: left;
    margin-left: 3em;
    width: 45%;
    height: fit-content; 
    background: #ccc;
}
  
footer {
    display: flex;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: darkviolet;
    
}
button {
    font-size: 20px;
    background-color: darkviolet;
    font-family: 'Inconsolata', monospace;
    color: white;
    font-weight: bold;
}
input {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
#otsikko {
    color: white;
    
}
#tilaa {
    margin: 100px;
}
#data {
    background-color: #ccc;
    width: 100%;
    text-align: left;
    padding: 30px;
    margin-bottom: 6rem;
}
li:hover {
    background-color: darkviolet;
}
a:hover {
    color: white;
}