p {
    background-color: lawngreen;
    width: 120px;
    text-align: center;
}

div {
    background-color: darkcyan;
    border: 5px solid #333;
    box-shadow: 5px 5px 5px grey;
    width: 50vh;
}

button {
    padding: 6px;
}