.col-sm-6 {
    border: 10px solid palegreen;
    background-color: palegreen;
}

h4 {
    padding: 50px;
    text-align: center;
}

h3 {
    color: darkorange;
}

button {
    padding: 10px;
    
}


.col:hover {
    border: 1px solid rgb(64, 117, 64);
}

.navbar-brand {
    font-family:'Times New Roman', Times, serif;
    
    font-size: 40px;
}
.text-reset {
    text-decoration: none;
}
.text-reset:hover{
    background: rgb(120, 226, 120);
}


