body {
background-image: url(../kuvat/full-bloom.png);
}

#yhteensa {
    color: darkorange;
    font-size: x-large;
}

#tilaa {
   
    float: left;
    margin-left: 11em;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar-brand {
    background-color: palegreen;
    font-family:fantasy;
    font-size: 40px;
}

span {
    margin: 2rem;
}

button {
    margin-left: 2rem;
}

button:hover {
   background-color: darkorange;
}

.table-borderless {
    margin: 2rem;
    border: 6px solid darkorange;
    max-width: 600px;
    height: fit-content;
    background-color: white;
}



@media screen and (max-width: 576px) {
    
    .table-borderless {
        margin: 0rem;
        font-size: xx-small;
    }


}

