body {
background-image: url(../kuvat/full-bloom.png);
}

#yhteensa {
    color: darkorange;
    font-size: x-large;
}

#tilaa {
   
    float: left;
    margin-left: 11em;
    width: 100px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar-brand {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

span {
    margin: 2rem;
}

button {
    margin: 2rem;
}

button:hover {
   background-color: darkorange;
}

.table-borderless {
    margin: 2rem;
    border: 6px solid darkorange;
    max-width: 50em;
    height: fit-content;
    background-color: white;
}

.form-control {
    max-width: 200px;
}

