#yhteensa {
    color: darkorange;
    font-size: x-large;
}

#tilaa {
   
    float: left;
    margin-left: 11em;
    width: 100px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar-brand {
    font-size: xx-large;
    font-style: italic;
}

span {
    margin: 2rem;
}

button {
    margin: 2rem;
}

button:hover {
   background-color: darkorange;
}

.table-borderless {
    margin: 2rem;
    border: 6px solid darkorange;
    max-width: 60em;
}

.form-control {
    max-width: 200px;
}

h2 {
    font-family:serif;
}