.container-xl {
    margin-top: 10rem;
}

.col {
    background-color: palegreen;
    padding: 20px;
    border: 5px solid white;
    min-width: 200px;
}

img {
   max-width: 100%;
}

#valia {
    margin: 4rem;
}

#hinta {
    font-size: 3rem;
    font-family: fantasy;
    color: darkorange;
}

.navbar-brand {
    background-color: palegreen;
    font-family: fantasy;
    font-size: 40px;

}

a {
    text-decoration: none;
    color: black;
}

#linkki {
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    background-color: palegreen;
    border: 5px solid palegreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #ccc;
    width: fit-content;
}

#linkki:hover {
    background-color: darkorange;
    border: 5px solid darkorange;
}

@media screen and (max-width: 576px) {
    #linkki {
        width: 100%;
        margin-left: 0px;
    }

    .col {
        width: 100%;
    }

    #valia {
        margin: 0rem;
    }
}